@import url(../../components/nav.css);
.exit-con{
    margin-top:200%;
    margin-bottom:50%;
} .building{
    background-color: #63d3ff;
    color:#fff;
} .house{
    margin-top:71%;
    color:#000;
    padding:30% 30% 30% 15%;
    border-radius:50% ;
    background-color: #fff;
} .main{
    padding:2%;
} .main-header > h1{
    color: #000;
font-family: Plus Jakarta Sans;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
} .main-header > p{
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
} .input1{
    border-radius: 15px;
border: 1px solid #DEDEDE;
background: #FFF;
display: flex;
width: 50%;
} .input1-1-input > input , .input1-2-input > input {
    border:none;
    width:100%;
    color: #000;
font-family: Plus Jakarta Sans;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin:1.5%;
} .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5%;
} .input1-1-input , .input1-2-input {
    display: flex;
    justify-content: space-between;
} .input1-1-input {
    border-right:1px solid #DEDEDE;
} .input1-1-header > h6 , .input1-2-header > h6{
    color: #9B9B9B;
font-family: Plus Jakarta Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin:2%;
} .money-type > h4{
    color: #9B9B9B;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
} .input2{
display: flex;
margin-top:1%;
border:1px solid #DEDEDE;
border-radius: 15px;
background: #FFF;
display: flex;
width: 50%;
} .input2-1 > input , .input2-2 > input {
    border:none;
    width:100%;
    color: #000;
font-family: Plus Jakarta Sans;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin:1.5%; 
padding-right:5%;
} .input2-1 > input{
    border-right: 1px solid #DEDEDE;
} .input3-1{
    display: flex;
    justify-content: space-between;
    margin-top:2%;
} .input3-1 > input{
    border-radius: 15px;
border: 1px solid #DEDEDE;
background: #FFF;
color: #ABABAB;
font-family: Plus Jakarta Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding:1%;
} .job-loans{
    margin-left:-1.5%;
} .input-btn{
    width:50%;
    display: flex;
    flex-direction: row-reverse;
    margin-top:1%;
} .input-btn > div > button{
    border-radius: 15px;
background: #5DC6C9;
border:none;
color: #FFF;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding:10px 15px;
} button{
    cursor: pointer;
} @media all and (min-width:280px) and (max-width:1085px){
    .main-header > h1{
        display: none;
    } .main-header > p{
        display: none;
    }
}