@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
*{
    box-sizing: border-box;
} main{
    padding: 0.5%;
} main > section {
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius:45px;
} .logo-con{
    padding:3%;
    text-align: center;
} .nav{
    border-right: 1px solid #c4c4c4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2%;
} .special-nav > div > nav{
    display: flex;
    flex-direction: column;
} .nav-btn{
    margin-top:71%;
    color:#000;
    padding:30% 30% 30% 15%;
    border-radius:50% ;
} .nav-btn:hover{
    background-color: #b8e7fa;
} .house{
    background-color: #63d3ff;
    color:#fff;
} .exit > i{
    color:#fff;
} .exit{
    background-color: #63d3ff;
    color:#fff;
    padding:40% 30% 40% 25%;
    border-radius:50% ;
} .user{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #c4c4c4;
    padding:2%;
} #user-name{
font-size:  #000;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;;
} .user-bio > div > p{
color: #000;
font-family: Plus Jakarta Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
} .balance {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
background: #5DC6C9;
box-shadow: 0px 3px 75px 0px rgba(0, 0, 0, 0.10);
padding:2%;
margin: 10% -6%;
} .balance-num{
    display: flex;
} .balance-num > img {
    width: 20%;
    height: 20%;
} .balance-head > h2{
    color: #FFF;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2px;
text-transform: uppercase;
padding-left:5%;
} #balance-num-user{
    color: #FFF;
font-family: Plus Jakarta Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 100%;
margin-left:5%;
} .balance-num > img{
    margin-top:5%;
    margin-left:5%;
} .balance-user > p{
    color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
margin-left:5%;
margin-top:-15%;
} .recent-transactions-text > h2{
    color: #5DC6C9;
font-family: Plus Jakarta Sans;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
border-bottom:1px solid #E3E3E3;
padding-bottom:5%;
} .transaction{
    display: flex;
} .transaction-pp{
    border-radius: 50%;
    width:100px;
    height: 50px;
    background-color: #5DC6C9;
    margin-right:5%;
}.transaction-about > h3{
    color: #000;
font-family: Plus Jakarta Sans;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
} .transaction-about > p{
    color: rgba(0, 0, 0, 0.50);
font-family: Plus Jakarta Sans;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: normal;
} .transaction-balance > p{
    color: #04B600;
font-family: Plus Jakarta Sans;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left:15%;
} .special-con{
    display: flex;
    flex-wrap: wrap;
    padding:1%;
} .advertising-con{
    width:100%;
} .payments{
    width:45%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 24px;
    justify-content: center;
    padding:1%;
background: #FFF;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
} .payment{
    width:26%;
    border-radius: 15px;
background: rgba(93, 198, 201, 0.10);
display: flex;
justify-content: space-evenly;
flex-direction: column;
text-align:center;
padding-top:5%;
margin:2%;
} .digital-cart-con{
    width: 45%;
    margin-left:5%;
}.payments > h2{
    width: 100%;
    border-bottom:1px solid #E3E3E3;
} .payment > h4{
    color: #452F02;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
} .payments > h2{
    color: #130F26;
font-family: Plus Jakarta Sans;
font-size: 23px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
padding-bottom:2%;
} .digital-cart-con{
    display: flex;
    flex-direction: column;
} .header-cart{
    display: flex;
    justify-content: space-between;
} .user{
    background-color: rgba(93, 198, 201, 0.10);;
} .money-format{
    display: flex;
} .money-format > h2{
    color: var(--dark-theme-gray-0, #FFF);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
align-items: center;
align-self:center ;
padding-left:2%;
} .cart{
    background:url(./../../portfolio/card-photo/Bg_4.png);
    border-radius:15px;
    padding:3%;
} .digital-cart-con > h2{
    color: #000;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
} .money-format > h3{
    border: 1px solid #1f1f1f;
    border-radius: 2px;
    padding:3px;
    color:#fff;
    font-size:25px;
} .cart-chip > img{
    padding-top:30%;
} .number-cart-main{
    display: flex;
    justify-content: space-evenly;
    color: var(--dark-theme-gray-0, #FFF);
font-family: DM Mono;
font-size: 20px;
font-style: normal;
font-weight: 500;
margin-top:-5%;
} .footer{
    display: flex;
    width:80%;
} .footer > h4{
    color: var(--Text-Blue-Gray-4, #EDEFF1);
font-family: Inter;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
} .footer > h3{
    color: var(--Text-Blue-Gray-4, #EDEFF1);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-left:1%;
} .footer-cart{
    display: flex;
    justify-content: space-between;
} .advertising-con{
    display: flex;
    justify-content: space-evenly;
} .advertising-1 , .advertising-2 , .advertising-3{
 border-radius: 15px;
background: rgba(93, 198, 201, 0.20);
box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
width:30%;
margin-top:3%;
padding:2%;
} .advertising-header > h2{
    color: #000;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
} .advertising-main{
    display: flex;
} .advertising-text > h2{
    color: #5DC6C9;
font-family: Plus Jakarta Sans;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
margin-left: -13%;
} .advertising-text > h3{
    color: #52A7A9;
font-family: Plus Jakarta Sans;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
margin-left:-25%;
margin-top:-13%;
} .names{
    display: flex;
} #user-surname{
    font-size:  #000;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;;
margin-left:3px;
} .cart-names{
    display: flex;
} #cart-user-name,#cart-user-surname{
    color: var(--Text-Blue-Gray-4, #EDEFF1);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-left:1%;
}